.vscode
**/.DS_Store
tmp/
tmp/zips/*.zip
viewer/downloads/*
viewer/downloads.zip
viewer/thread_overrides.json
layers/python/
athena/
lambdas*
local
twitter-responses
volume
notes*
edits/
*.pkg
/*.json
**/__pycache__/
